# Environnements virtuels
venv/
.venv/
ENV/
env/

# Fichiers de configuration locale (Docker)
docker-compose.override.yml

# Dossiers d'images et rendus (vides ou pleins)
input_images/
output_svg/

# Images de test spécifiques
*.png
*.jpg
*.jpeg
*.svg

# Caches Python et OS
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
